[gpg]
	program = gpg
[core]
	pretty = oneline
	filemode = true
	ignorecase = true
	editor = nvim
	pager = less -F -X
[color]
	ui = true
[alias]
  fp = !git fetch -p
	ci = !git commit
	co = !git checkout
	cob = !git checkout -b
  fco = !git checkout \
    $(git for-each-ref refs/ \
    --format='%(refname:lstrip=2)' \
    | grep -vE 'origin/HEAD' \
    | sed -r \"s/origin\\///\" \
    | sort -u \
    | fzf \
  )
	st = !git status
	br = !git branch
	brd = !git branch -d
	brD = !git branch -D
	cm = !git add -A && git commit -m
	undo = !git reset HEAD~1 --mixed
	unstage = !git reset HEAD --
	amend = !git commit -a --amend
	lg = !git log \
		--all \
		--graph \
		--pretty=format:'%C(magenta)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \
		--abbrev-commit
[status]
  submoduleSummary = true
[pull]
	rebase = true
[diff]
  tool = vscode
  submodule = log
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[init]
  defaultBranch = main
[push]
	autoSetupRemote = true
[include]
	path = ~/.gitconfig.local
