[gpg]
	program = gpg
[core]
	pretty = oneline
	filemode = true
	ignorecase = true
	editor = nvim
	pager = less -F -X
[color]
	ui = true
[alias]
	ci = commit
	co = checkout
	cob = checkout -b
	st = status
	br = branch
	brd = branch -d
	brD = branch -D
	cm = !git add -A && git commit -m
	undo = reset HEAD~1 --mixed
	unstage = reset HEAD --
	amend = commit -a --amend
  lg = log --graph --pretty=format:'%C(magenta)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = true
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[init]
  defaultBranch = main
[push]
	autoSetupRemote = true
[include]
	path = ~/.gitconfig.local
