[gpg]
	program = gpg
[user]
	name = Kevin Arbi
	email = karbica@eml.cc
[core]
	pretty = oneline
	filemode = true
	ignorecase = true
[color]
	ui = true
[alias]
	ci = commit
	co = checkout
	cob = checkout -b
	st = status
	br = branch
	brd = branch -d
	brD = branch -D
	cm = !git add -A && git commit -m
	undo = reset HEAD~1 --mixed
	unstage = reset HEAD --
	amend = commit -a --amend
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
